.content{
    min-height: 800px;
}

.padding-top-7{
    padding-top: 7px;
}

.padding-top-15{
    padding-top: 15px;
}

.padding-right-15{
    padding-right: 15px;
}

.margin-right-15{
    margin-right: 15px;
}

.margin-top-10{
    margin-top: 10px;
}

.margin-top-20{
    margin-top: 20px;
}

.margin-top-50{
    margin-top: 50px;
}

#tab-checker{
    display: none;
}

#tab-checker .total{
    margin-top: 50px;
}

#errorUploadFile{
    display: none;
    padding: 5px 15px;
}

.fa-check{
    color: green;
}

.fa-close{
    color: red;
}

.fa-exclamation-triangle{
    /*color: orange;*/
}

#selectClient{
    display: none;
}

.select2-container{
    width: 100% !important;
}

